*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    list-style: none;
}

header{
    background: rgba(90, 90, 90, 0);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
body {
    background-image: url("../img/fabrizio-magoni-boaDpmC-_Xo-unsplash.jpg");
    background-size: cover;

    
}
#head_img {
    height: 90px;
    width: 200px;
    
}
.Hamburger_line{
    background: black;
    height: 10px;
    width: 70px;
    margin: 3px;
    border-radius: 10px
}
nav {
    display: flex;
    background: rgba(121, 104, 104, 0.151);
    width: 1200px;
    align-items: center;
    justify-content: space-between
}
#Link_list {
    list-style: circle;
    display: flex;
  
    align-items: center;
    justify-content: space-evenly;
    width: 1200px;
}
.meny_link{
    text-decoration:wavy;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
font-weight: bold;
}
.meny_link:hover{
    color: black
}
#Hamburger:hover{
    cursor: pointer;
}


#wrapper{
    
    width: 90vw ;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    grid-template-areas: 
     "a1 a1 a2 a2 a2 a2"
     "a1 a1 a3 a3 a3 a3"
     "a4 a4 a3 a3 a3 a3"
    }
    
    .article_1 {
        background-color: rgba(0, 0, 0, 0.116);
        grid-area: a1;
        box-sizing: content-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        

    }

    .article_1 * {
        color: rgba(150, 139, 168, 0.945) ;

    }
    
    

    .article_2 {
        background-color: rgba(0, 0, 0, 0.116);
        grid-area: a2;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-image:  url("../img/bild.png");;
        background-size: cover;
        
        
    }
    .article_2 *{
        color: whitesmoke;


    }


.article_3 {
        background-color: rgba(0, 0, 0, 0.363);
        grid-area: a3;
        text-align: center;
        font-weight: bold;
        font-size: larger;
        list-style-type: none;
    }
    .article_3 * {
        color: whitesmoke;
    }

.article_4 {
    grid-area: a4;
}
h4{ 
    font-size: 20px;
    color: whitesmoke !important;
}
h2{
    font-size: 40px;
    color: lightsteelblue !important;
    font-weight: bold;
}